body{
    margin: 0;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
#calculator_pannel{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    margin: 10%;
    margin-top: 5%;
    border: 5px solid;
    border-radius: 50px;
    background-color: black;
}
#display{
    color: black;
    font-size: 2rem;
    border: 2px solid;
    border-color: black;
    border-radius: 15px;
    align-items: center;
    background-color: white;
    min-width: 300px;
    min-height: 100px;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    min-width: 75px;
    min-height: 75px;
    border: 1px solid;
    border-color: black;
    background-color: darkgray;
}
.num_button{
    background-color: hsl(0, 0%, 25%);
    
}
.num_button:hover{
    background-color: darkgray;
    
}
.op_button{
    background-color: darkorange;
    
}
.op_button:hover{
    background-color: goldenrod;
    
}
button:active{
    border: 10px bold;
    border-color: lightgray;
}